body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
}


.piano-frame {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  border: 2px solid #0a0a08;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: scale(1);
  transform-origin: top center;
}

.piano-container {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
  width: 70vw;
}